*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(252,252,252);
}
header{
    background: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 450px;
} 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 70px;
    margin: 0 auto;

}
nav .app-link a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
nav .nav-items ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav .nav-items ul li a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: lighter;

}
.content-wrapper{
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    margin-top: 50px;
}
.content-wrapper img{
    height:60px ;
    width: 300px;
}
.content-wrapper h1{
    font-size: 2.2rem;
    font-weight: 100;
    margin: 30px 0;
    letter-spacing: 2px;
}
.content-wrapper h1 span{
    font-weight: 600;
}

.search-container{
        display: flex;
        align-items: center;
        background: white;
        height: 3.4rem;
        width: 55%;
        border-radius: 8px;
     }
       .search-container .left-search,  .search-container .right-search{
        display: inline-flex;
        padding: 0 1rem;
        border-right: 2px solid rgb(189, 188,188);
 }
     .search-container .left-search{
        width: 30%;
  }
     .search-container .right-search{
        width: 70%;
  }
  .search-container input{
    border: 0;
    outline:none;
    font-size: 1rem;
    background: transparent;
    color: grey;
    width: 100%;
    margin-left: 6px;
  }

.search-container .left-search i{
    color: rgb(240, 125, 125);
    font-size: 20px;
    border-right:2px solid rgb(189, 188, 188) ;
}
.search-container .right-search i{
color: rgb(189, 188, 188);
font-size: 20px;
}
/*-------order section.....*/
.order-section{
    width:85%;
    margin: 0 auto;
    text-align: center;
}
.order-section .order{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 40px;
}
.order .card{
    width:30%;
    margin: 12px;
    border-radius: 8px;
    border: 1px solid white;
    position: relative;
    transition: transform 0.5s;
}
.order .card a img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    top: 0;
    left: 0;

}
.order .card:hover{
    transform: scale(1.1);
}
.order .card .content{
    text-align: left;
    width: 100%;
    padding: 0 12px;
    position: absolute;
    bottom: 0;
    background: white;
    border-radius: 8px;

}
.order .card .content .heading{
    font-size: 1rem;
    margin: 10px 0;

}
.order .card .content .text{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.menu-icon{
    color: white;
    font-size: 30px;
    display: none;
}
 /*----------ORDER SECTION------------*/
 .collections{
    width: 85%;
    margin: 90px auto;
    text-align: center;
 }
 .collections h1{
    text-align: left;
    font-size: 2.1rem;
    font-weight: lighter;
    margin-bottom: 20px;
 }
 .collections p{
    text-align: left;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 20px;
 }
 .collection-card{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;}


 .collection-card .card{
    width: 280px;
    height: 320px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    margin: 12px 0;
 }
 .collection-card .card img{
    width: 100%;
    height: 100%;
    background: linear-gradient(from bottom,#000,#ccc);
    cursor: pointer;
}
 .collection-card .card .content{
    position: absolute;
    bottom: 0;
    width: 100%;
 }
 .collection-card .card .content p{
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 5px,9px;

 }
 

/*---------footer section-------*/
.footer{
    width:100%;
    background: white;

}
.footer .container{
    width:90%;
    margin: 0 auto;
    padding: 50px 20px;

}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-top img{
    width: 140px;
}
.footer-top .footer-btn button{
    padding: 10px 30px;
    border: 0;
    outline: none;
    border: 1px solid white;
    font-size: 16px;
    margin: 0 6px;
    border-radius: 8px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-links .column{
    margin: 50px 12px;
}
.footer-links .column .col-links{
    list-style: none;
    margin-top: 16px;

}
.footer-links .column .col-links li{
    margin: 10px 0;

}
.footer-links .column .col-links li a{
    text-decoration: none;
    color: #919090;
    font-size: 15px;

}
.footer-links .column div{
    text-decoration: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}
.col-links a i{
    padding: 6px;
    color: white;
    background: rgb(51, 53, 51);
    border-radius: 50%;
    margin-bottom: 20px;
    font-size: 14px;
}
.col-links li img{
    width: 130px;
}
.footer-bottom{
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
    color:#6b6a6a
}

/*......media query for small screen size....*/
@media only screen and (max-width: 768px){
    .menu-icon{
        display: block;
    }
    nav .app-link a,nav .nav-items ul{
        display: none;
    }
.content-wrapper h1{
    font-size: 1.5rem;
}
.content-wrapper img{
    width: 250px;
}

.collection-card .card{
    width: 100%;
    margin: 20px;
}
.popular-location .box{
    width: 100%;
   
}
.app{
    flex-direction: column;
    
}
.app .app-image, .app .get-app{
    width: 100%;
}
.app .submit input, .app .submit button{
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;

}
.app-store{
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.app-store img{
    width: 100px;
}
}
